.hand {
    * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
        transition: 0.5s;
    }
    .nope {
        width: 67vw;
        height: 22.4vw;
        color: black;
        background-color: #fff;
        padding: 3vw;
        margin: auto;
        border: rgb(182, 182, 182) 2px solid;
        border-radius: 2.1vw;
        font-size: 10vw;
    }
    .buttons {
        margin-top: 5vw;
        // button {
        // display: inline-block;
        // }
        .eye {
            position: relative;
            width: 27px;
            left: -14.2px;
            top: 9px;
            z-index: 1;
        }
        .refresh-btn {
            box-sizing: border-box;
            width: 44px;
            height: 44px;
            background-color: white;
            margin: 0 1vw;
            border-radius: 2rem;
            border: #cccccc 6px solid;

            .refresh-img {
                width: 12px;
                top: 1px;
                padding-top: 2px;
                // position: relative;
            }
        }
    }
    .name {
        font-size: 1.4em;
    }
    .hand-con {
        display: inline-block;
        // flex-direction: column;
        background-color: #fff;
        color: black;
        border: rgb(182, 182, 182) 2px solid;
        border-radius: 2.1vw;
        width: 16vw;
        height: 22.4vw;
        margin: 0 0.5vw;

        // display: inline-block;
        h3,
        h4,
        h5 {
            position: absolute;
            font-weight: 400;
        }
        h5 {
            margin: -0.6vw 0 0 0.6vw;
            font-size: 7.1vw;
            letter-spacing: -9px;
            // top: 10px;
        }
        h4 {
            margin: 4.1vw 0 0 1vw;
            font-size: 6.9vw;
            // text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
        }
        h3 {
            margin: 5.3vw 0 0 5.7vw;
            font-size: 17vw;
        }
        .♣ {
            margin: 5.3vw 0 0 4.1vw;
        }
        .♦ {
            margin: 5.3vw 0 0 6.6vw;
        }
        .♥ {
            margin: 5.3vw 0 0 5vw;
        }
        .♠ {
            margin: 5.3vw 0 0 6.1vw;
        }
        .true {
            font-size: 6.5vw;
        }
    }
}

// background-color:#003F03;
// background-image: radial-gradient(#006104 4%, transparent 5%),
// radial-gradient(#006104 4%, transparent 5%);
// background-size: 60px 60px;
// background-position: 0 0, 30px 30px;
